<html xmlns:th="http://thymeleaf.org">
<table th:fragment="comics_data">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author(s)</th>
    </tr>
    </thead>
    <tr th:each="comic : ${comics}">
        <td>
            <a th:href="@{/comic/{id}(id=${comic.getId()})}" th:text="${comic.getTitle()}">
            </a>
        </td>
        <td>
            <div th:each="author : ${comic.getAuthors()}">
                <div th:text="${author.getFirstName() + ' ' + author.getMiddleName() + ' ' + author.getLastName()}"></div>
            </div>
        </td>
    </tr>
</table>