<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <a th:href="@{/}">HOME</a>
    <a th:href="@{/comics}">ALL COMICS</a>
    <span sec:authorize="isAuthenticated()">
        <a th:href="@{/user-profile}" th:text="${#strings.toUpperCase(#authentication.name) + '''S PROFILE'}">
        </a>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout">
        </form>
    </span>
    <span sec:authorize="isAnonymous()">
        <a th:href="@{/login}">LOGIN</a>
        <a th:href="@{/register}">REGISTER</a>
    </span>
    <form action="#" th:action="@{/comics-search-simple}" method="post">
        <span>
            <input type="text" placeholder="Search comics by title or author:" th:value="${searchCriteria}" name="searchCriteria"/>
            <input type="submit" value="Search"/>
        </span>
    </form>
</div>