<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of All Comics</title>
</head>
<body>
<header th:insert="common/header.html :: header"></header>
<form action="#" th:action="@{/comics-search-simple}" method="post">
    <p>
        Search comics by title or author: <input type="text" th:value="${searchCriteria}" name="searchCriteria"/>
        <input type="submit" value="Search"/>
    </p>
</form>
<a th:href="${'/comics-advanced-search'}">
    Advanced search
</a>
<h1>All Comics:</h1>
<header th:insert="common/comics_data.html :: comics_data"></header>
<form action="#" th:action="@{/comics-search-simple}" method="post">
<footer th:insert="common/footer.html :: footer"></footer>
</body>
</html>