<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of All Comics</title>
</head>
<body>
<header th:insert="common/header.html :: header"></header>
<h1>All Comics:</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author(s)</th>
    </tr>
    </thead>
    <tr th:each="comic : ${comics}">
        <td th:text="${comic.getData().getTitle()}"></td>
        <td>
            <div th:each="author : ${comic.getAuthors()}">
                <div th:text="${author.getFirstName() + ' ' + author.getMiddleName() + ' ' + author.getLastName()}"></div>
            </div>
        </td>
    </tr>
</table>
<footer th:insert="common/footer.html :: footer"></footer>
</body>
</html>